[submodule "week-4/code/lib/forge-std"]
	path = week-4/code/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "week-5/code/lib/forge-std"]
	path = week-5/code/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
